<template>
    <div class="py-4 bg-light" >
    <div class="container">
      <div class="row" >
        <div class="text-center mx-auto col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <router-link to="/carro" class="navbar-item nav-link">Carros</router-link>
                    <router-link to="/camioneta" class="navbar-item nav-link">Camionetas</router-link>
                    <router-link to="/cars" class="navbar-item nav-link">Todos los Vehiculos</router-link>
                    

                </div>
            </div>
            <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                <input class="form mr-sm-2 input" type="text" placeholder="¿Qué buscas?" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
            </form>

          </nav>
              <div class=" row p-2 ">
                <div class="row">
                   <div class="row row-cols-1 row-cols-md-3 g-4">
                
                <CarBox 
                  v-for="product in products"
                  v-bind:key="product.id"
                  v-bind:product="product" />
                </div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import CarBox from '@/components/CarBox'

export default {
    name: 'Cars',
    data: function() {
        return {
            products: []
        }
    },
    components: {
        CarBox
    },
    mounted() {
        document.title = 'Carros | Vozildo'
        this.getProducts()
    },
    
    methods: {
        async getProducts() {
            this.$store.commit('setIsLoading', true)

            await axios
                .get('/api-v1/all-cars/')
                .then(response => {
                this.products = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            this.$store.commit('setIsLoading', false)
    }
    }
}
</script>
  