<template>
  <v-row>
    <v-col
      v-for="item in items"
      :key="item.id"
      class="d-flex child-flex"
      cols="4"
    >
      <v-img :src="item.src" aspect-ratio="1" class="grey lighten-2">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Galeria",
  data() {
    return {
      items: [
        {
          id: 1,
          src: require("../assets/images/tour-block_1.jpg"),
        },
        {
          id: 2,
          src: require("../assets/images/tour-block_2.jpg"),
        },
        {
          id: 2,
          src: require("../assets/images/tour-block_3.jpg"),
        },
        {
          id: 3,
          src: require("../assets/images/tour-block_4.jpg"),
        },
        {
          id: 4,
          src: require("../assets/images/gallery/g_gal_1.jpg"),
        },
        {
          id: 5,
          src: require("../assets/images/gallery/g_gal_2.jpg"),
        },
        {
          id: 6,
          src: require("../assets/images/gallery/g_gal_6.jpg"),
        },
        {
          id: 7,
          src: require("../assets/images/gallery/g_gal_4.jpg"),
        },
        {
          id: 8,
          src: require("../assets/images/gallery/g_gal_5.jpg"),
        },
        {
          id: 9,
          src: require("../assets/images/gallery/g_gal_7.jpg"),
        },
        {
          id: 10,
          src: require("../assets/images/gallery/g_gal_8.jpg"),
        },
        {
          id: 11,
          src: require("../assets/images/gallery/g_gal_9.jpg"),
        },
        {
          id: 12,
          src: require("../assets/images/gallery/g_gal_10.jpg"),
        },
        {
          id: 13,
          src: require("../assets/images/gallery/g_gal_11.jpg"),
        },
        {
          id: 14,
          src: require("../assets/images/gallery/g_gal_12.jpg"),
        },
      ]
    };
  },
};
</script>
