<template>
  <div class="home py-3 mb-3">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="5000"
      controls 
      indicators 
      background="black"
      img-width="1000"
      img-height="666"
      style="text-shadow: 1px 1px 2px #000"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        img-src="https://s1.1zoom.me/big0/959/Toyota_SW4__'Diamond_'_2021_White_Metallic_609019_1280x853.jpg"
      >
        <div class="slider-content">
          <h1 style="color: black; font-size: 400%">
            ¡Reserva tu
            <span style="color: red">coche </span> ya!
          </h1>
          <b-button variant="danger">Más información</b-button>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide
        img-src="https://s1.1zoom.me/big0/553/Mercedes-Benz_2022_EQE_350_Electric_Art_Line_609040_1280x853.jpg"
      >
        <div class="slider-content">
          <h1 style="font-size: 400%">
            ¡Hasta un 25% de descuento en la primera reserva
            <span style="color: red">de coche </span>a través de su aplicación!
          </h1>
          <br />
          <i style="font-size: 130%">
            Mejor <span style="color: red">Precio</span> Garantizado
          </i>

          <br />
          <i style="font-size: 130%"> Recogidas en casa </i>
          <br />
          <i style="font-size: 130%"> Reservas fáciles </i>
          <dl>
            <i style="font-size: 130%">
              Atención al cliente <span style="color: red">24/7</span>
            </i>
          </dl>
          <br />
          <b-button variant="danger">Más información</b-button>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        img-src="https://s1.1zoom.me/big0/115/Salons_Hozon_Neta_V_Pro_2021__electromobile_608886_1280x853.jpg"
      >
        <div class="slider-content">
          <h1 style="font-size: 400%">
            ¡Servicio
            <span style="color: red">100% </span>garantizado!, aprovecha ¡ya!
          </h1>
          <br />
          <b-button variant="danger">Más información</b-button>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid w-100"
            src="https://s1.1zoom.me/big0/798/Hozon_Neta_V_Pro_2021__electromobile_Metallic_608871_1280x853.jpg"
            alt="image slot"
          />
      
        </template>

        <div class="slider-content">
          <h1 style="font-size: 400%">
            <span style="color: red">¿Que consigo?</span>
            <br />
          </h1>
          <h1 style="font-size: 130%">
            Nuestra misión es ayudar a la gente a escoger el alquiler correcto .
            Antes de reservar, le mostraremos todo lo que necesita saber, lo que
            incluye su alquiler y la información de recogida. Le damos todos los
            datos, de manera que pueda elegir el alquiler adecuado para usted.
          </h1>
          <br />
          <b-button variant="danger">Más información</b-button>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </b-carousel-slide>
    </b-carousel>
    

    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-md-3 g-4">

            <CarBox 
                  v-for="product in products"
                  v-bind:key="product.id"
                  v-bind:product="product" />
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</template>

<script>
import CarBox from '@/components/CarBox'
import axios from 'axios'

export default {
  data() {
    return {
      slide: 0,
      sliding: null,
      products: []
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
    async getProducts() {
            this.$store.commit('setIsLoading', true)

            await axios
                .get('/api-v1/all-cars/')
                .then(response => {
                this.products = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            this.$store.commit('setIsLoading', false)
    }
  },
  mounted() {
        document.title = 'Cars | Vozildo'
        this.getProducts()
    },
  components:{
    CarBox
  }
};
</script>
