<template>
<div class="text-center bg-light text-white m-0 my-0 py-3 pb-0 reg-fondo" style="	">

    <div class="container container_signUp_user">
       <div class="row">
        <div class="col-md-12 my-1"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4 text-body text-left text-body">
            <font color="#151515">Iniciar Sesión</font>
          </h1>
          <h5 class="text-left text-body">Ingresa tus datos</h5>
          <form @submit.prevent="submitForm">
            <div class="form-group"> 
              <div class="form-group mb-3"> 

              <div class="field">
                  <div class="control">
                      <input type="text" class="form-control" placeholder="Usuario" v-model="username">
                  </div>
              </div> 
              <br />
              <div class="field">
                  <div class="control">
                      <input type="password" class="form-control" placeholder="Contraseña" v-model="password">
                  </div>
              </div>
              </div>
              <small class="form-text text-muted text-right">
              </small>
              <div class="notification is-danger" v-if="errors.length">
                  <p style="color:#000;" v-for="error in errors" v-bind:key="error">{{ error }}</p>
              </div>
              </div> <button type="submit" class="btn btn-secondary" style="backgrond-color: red;opacity: 0.;">INGRESAR</button>
          </form>
          <h5 class="mt-4 text-center text-body">¿Aún no estás registrado?</h5>
      <br />
          <router-link to="/registrar" class="btn btn-secondary text-white">Registrate Aquí</router-link>
      <br />
      <br />
        </div>
      </div>
     
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'logIn',
    data() {
        return {
            username: '',
            password: '',
            errors: []
        }
    },
    mounted() {
        document.title = 'Log In | Vozildo'
    },
    methods: {
        async submitForm() {
            axios.defaults.headers.common["Authorization"] = ""

            localStorage.removeItem("token")
            localStorage.setItem("username", this.username)

            const formData = {
                username: this.username,
                password: this.password
            }
            axios.defaults.baseURL = 'https://auth-ms-usuarios.herokuapp.com'
            await axios
                .post("/api-v1/token/login/", formData)
                .then(response => {
                    const token = response.data.auth_token

                    this.$store.commit('setToken', token)
                    
                    axios.defaults.headers.common["Authorization"] = "Token " + token
                    axios.defaults.baseURL = 'https://car-manage.herokuapp.com'

                    localStorage.setItem("token", token)

                    const toPath = this.$route.query.to || '/'

                    this.$router.push(toPath)
                })
                .catch(error => {
                    if (error.response) {
                        for (const property in error.response.data) {
                            this.errors.push(`${property}: ${error.response.data[property]}`)
                        }
                    } else {
                        this.errors.push('Something went wrong. Please try again')
                        
                        console.log(JSON.stringify(error))
                    }
                })
        }
    }
}
</script>

<style>

 .container_signUp_user {
        border: 0px solid  black;
        border-radius: 0px;
        
        background-color: black;

      
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }

 </style>