<template>
 
    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>
           <br>
            <form v-on:submit.prevent="processSignUp" >
                <label class="label"> Username: </label>
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <label class="label" > Password: </label>
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                <label class="label" > Email: </label>
                <input type="email" v-model="user.email" placeholder="Email">
                <br>
                <label class="label" > Fecha de nacimiento: </label>
                <input type="date" v-model="fecha_nacimiento" >
                <br>
                <input type="checkbox" v-model="user.terminos" value="terminos">
                <label class="label"> Acepto terminos y condiciones </label>

                <button type="submit">Registrarse</button>
            
            </form>
        </div>

    </div>
 
</template>
 
<script>

 
export default {
    name: "SignUp",
 
    data: function(){
        return {
            user: {
                username: "",
                password: "",
                email: "",
                fecha_nacimiento: "",
                intereses: "",
                account: {
                    lastChangeDate: (new Date()).toJSON().toString(),
                    balance: 0,
                    isActive: true
                }
            }
        }
    },
 
    methods: {
        processSignUp: function(){
            axios.post(
                "https://dashboard.heroku.com/apps/proyectog4", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
 
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                });
        }
    }
}
</script>
 
<style>

 .container_signUp_user {
        border: 0px solid  black;
        border-radius: 0px;
        width: 25%;
        height: 60%;
        background-color: black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }
    .signUp_user{
        margin: 0;
        padding: 2%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .signUp_user h2{
        color: rgb(255, 255, 255);

    }
 
    .signUp_user form{
        width: 70%;
        
    }
 
    .signUp_user input{
        height: 40px;
        width: 100%;
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
 
        border: 1px solid rgb(255, 0, 0);

    }

    .signUp_user select{
        height: 38px;
        width: 100%;
 
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 3px 0;
 
        border: 2px solid rgb(255, 0, 0);
    }
 
    .signUp_user button{
     width: 100%;
        height: 40px;
 
        color: black;
        background: rgb(255, 0, 0);
        border: 1px solid rgb(255, 0, 0);
 
        border-radius: 3px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }
 
    .signUp_user button:hover{
       color: #000000;
        background: #000000;
        border: 1px solid #000000;
    }
    .label {
    color: #ffffff;
    }
    .signUp_user input {
background: rgb(255, 255, 255);
    }
</style>