<template>
<div class="text-center bg-light text-white m-0 my-0 py-3 pb-0 reg-fondo" style="	">
    <div class="container container_signUp_user">
      <div class="row">
        <div class="col-md-12 my-1"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4 text-body text-left text-body">
            <font color="#151515">Registrarse</font>
          </h1>
          <h5 class="text-left text-body">Ingresa tus datos</h5>
          <form @submit.prevent="submitForm">
              <br>
            <div class="form-group">
                    <div class="control">
                        <input type="text" class="input form-control" placeholder="Usuario" v-model="username">
                    </div> 
            </div>
            <br />
            <div class="form-group">
                <div class="control">
                    <input type="password" class="input form-control" placeholder="Contraseña" v-model="password">
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="control">
                    <input type="password" class="input form-control" placeholder="Repite la constraseña" v-model="password2">
                </div>
            </div>
            <br />


            <div class="form-group"> 
                <input type="email" class="form-control" placeholder="Correo electrónico" v-model="email"> 
                    <br />

                  <label class="label text-body" > Fecha de nacimiento:  &nbsp;&nbsp; &nbsp;&nbsp;   </label>
                <input type="date" v-model="fecha_nacimiento" >  
                                   <br />
                                   <br />

                <input type="checkbox"  v-model="terminos" value="terminos" to='/cars'>
                <label class="label text-body" style="color: 'black';" >&nbsp;&nbsp; 
                     <router-link style="color:red;" to="">  Acepto terminos y condiciones
                     </router-link>  </label>

            </div>
            <br />

         

            <div class="notification is-danger" v-if="errors.length">
                <p style="color:#000;" v-for="error in errors" v-bind:key="error">{{ error }}</p>
            </div>
            <div class="field">
           
            <div class="control">
                <button class="btn bg-dark btn-info text-white">REGISTRARSE</button>
                </div>
            </div>
            <br/>
            <p style="color:#000;">O da <router-link style="color:red;" to="/logIn">click aquí</router-link> para logearte</p>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'SignUp',
    data() {
        return {
            username: '',
            password: '',
            password2: '',
            email:'',
            terminos: '',
            fecha_nacimient: '',
            errors: []
        }
    },
    mounted() {
        document.title = 'Registro | Vozildo'
    },    
    methods: {
        submitForm() {
            this.errors = []

            if (this.username === '') {
                this.errors.push('Es necesario añadir user name')
            }

            if (this.password === '') {
                this.errors.push('La contraseña es demasiado corta')
            }

            if (this.password !== this.password2) {
                this.errors.push('Las contraseñas no coinciden')
            }

            if (!this.errors.length) {
                const formData = {
                    email: this.email,
                    username: this.username,
                    password: this.password
                }
                axios.defaults.baseURL = 'https://auth-ms-usuarios.herokuapp.com'

                axios
                    .post("/api-v1/users/", formData)
                    .then(response => {
                        
                        axios.defaults.baseURL = 'https://car-manage.herokuapp.com'


                        this.$router.push('/logIn')
                    })
                    .catch(error => {
                        if (error.response) {
                            for (const property in error.response.data) {
                                this.errors.push(`${property}: ${error.response.data[property]}`)
                            }

                            console.log(JSON.stringify(error.response.data))
                        } else if (error.message) {
                            this.errors.push('Algo salió mal, intentalo de nuevo más tarde')
                            
                            console.log(JSON.stringify(error))
                        }
                    })
            }
        }
    }
}
</script>

<style>

 .container_signUp_user {
        border: 0px solid  black;
        border-radius: 0px;
        
        background-color: black;

      
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }
    .signUp_user{
        margin: 0;
        padding: 2%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .signUp_user h2{
        color: rgb(255, 255, 255);

    }
 
    .signUp_user form{
        width: 70%;
        
    }
 
    .signUp_user input{
        height: 40px;
        width: 100%;
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
 
        border: 1px solid rgb(255, 0, 0);

    }

    .signUp_user select{
        height: 38px;
        width: 100%;
 
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 3px 0;
 
        border: 2px solid rgb(255, 0, 0);
    }
 
    .signUp_user button{
     width: 100%;
        height: 40px;
 
        color: black;
        background: rgb(255, 0, 0);
        border: 1px solid rgb(255, 0, 0);
 
        border-radius: 3px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }
 
    .signUp_user button:hover{
       color: #000000;
        background: #000000;
        border: 1px solid #000000;
    }
    .label {
    color: #ffffff;
    }
    .signUp_user input {
background: rgb(255, 255, 255);
    }
</style>