<template>
<div>
    <b-card bg-variant="light">
      <b-container class="bv-example-row">

        <b-row>
          <b-col>

            <b-form-group
              label="Coger"
              label-for="nested-street"
              label-cols-sm="3"
              label-align-sm="right"
            >
              <b-form-input
                id="nested-street"
                placeholder="Ciudad o aeropuerto especifico"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              label="Dejar"
              label-for="nested-city"
              label-cols-sm="3"
              label-align-sm="right"
            >
              <b-form-input
                id="nested-city"
                placeholder="Ciudad o aeropuerto especifico"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <br />
              <label class="mr-sm-2" for="inline-form-custom-select-pref"
                >Adultos</label
              >
              <br /><b-form-select
                id="inline-form-custom-select-pref"
                class="mb-2 mr-sm-2 mb-sm-0"
                :options="[{ text: '[Choose...]', value: null }, '1', '2', '3']"
                :value="null"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <br />
            <label class="mr-sm-2" for="inline-form-custom-select-pref"
              >Niños</label
            >
            <br /><b-form-select
              id="inline-form-custom-select-pref"
              class="mb-2 mr-sm-2 mb-sm-0"
              :options="[{ text: '[Choose...]', value: null }, '1', '2', '3']"
              :value="null"
            ></b-form-select>
          </b-col>
          <b-row>
            <b-col>
              <br />
              <label for="example-datepicker">Inicio de fecha</label>
              <b-form-datepicker
                v-model="date_inicio"
                id="datepicker-buttons"
                today-button
                reset-button
                close-button
                menu-class="w-10"
                calendar-width="10"
                locale="es"
              ></b-form-datepicker>
            </b-col>
            <b-col>
              <br />
              <label for="example-datepicker">Hora de recogida</label>
              <b-form-timepicker
                v-model="value_inicio"
                locale="en"
              ></b-form-timepicker>
            </b-col>
            <b-row>
              <b-col>
                <br />
                <label for="example-datepicker">Final de fecha</label>
                <b-form-datepicker
                  v-model="final_date"
                  id="datepicker-buttons"
                  today-button
                  reset-button
                  close-button
                  menu-class="w-10"
                  calendar-width="10"
                  locale="es"
                ></b-form-datepicker>
              </b-col>
              <b-col>
                <br />
                <label for="example-datepicker">Hora de entrega</label>
                <b-form-timepicker
                  v-model="final_value"
                  locale="es"
                ></b-form-timepicker>
              </b-col>
            </b-row>
          </b-row>
        </b-row>
        <br />
        <b-button @click="submitInfo()" class="btn-secondary" variant="primary" style="color: black"> Reservar </b-button>
        <br />
        <br />
      
        <h4>Hola <mark style="color:red;">{{ username }}</mark> has escogido el carro <mark style="color:red;">{{ name_car }}</mark></h4>

      </b-container>
    </b-card>
</div>
</template>

<script>
import axios from 'axios'
export default{
  name: 'Reserve',
  data(){
    return{
      final_date: '',
      final_value: '',
      date_inicio: '',
      value_inicio: '',
      car: this.username = localStorage.getItem('car'),
      name_car: this.username = localStorage.getItem('name_car'),
      fecha_inicio: '',
      fecha_final: '',
      nombre_de_ususario: this.username = localStorage.getItem('username'),
      
    }
  },
  mounted(){
    document.title = 'Reservación | Vozildo'

    getData()
  },
  methods:{
    getData(){
      this.car = localStorage.getItem('car')
      
    },
    submitInfo(){
      this.fecha_inicio = this.date_inicio + ' ' + this.value_inicio + '+00'
      this.fecha_final = this.final_date + ' ' + this.final_value + '+00'
      localStorage.setItem('hola', this.fecha_inicio)
      console.log(this.fecha_inicio, this.fecha_final)
    
      const formData = {
                    car: parseInt(this.car, 10),
                    nombre_de_ususario: this.username,
                    fecha_inicio: this.fecha_inicio,
                    fecha_final: this.fecha_final

                }
      console.log(formData)

                axios
                    .post("/api-v1/reserva/book", formData)
                    .then(response => {
                        this.$router.push('/succese')
                    })
                    .catch(error => {
                        if (error.response) {
                            for (const property in error.response.data) {
                                this.errors.push(`${property}: ${error.response.data[property]}`)
                            }

                            console.log(JSON.stringify(error.response.data))
                        } else if (error.message) {
                            this.errors.push('Algo salió mal, intentalo de nuevo más tarde')
                            
                            console.log(JSON.stringify(error))
                        }
                        })
    }
  }
}

</script>
