<template>
    <div class="py-4 bg-light" >
    <div class="container">
      <div class="row" >
        <div class="text-center mx-auto col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <router-link to="/carro" class="navbar-item nav-link">Carros</router-link>
                    <router-link to="/camioneta" class="navbar-item nav-link">Camionetas</router-link>
                    <router-link to="/cars" class="navbar-item nav-link">Todos los Carros</router-link>
                    

                </div>
            </div>
            <form class="form-inline my-2 my-lg-1" method="get" action="/search">
                <input class="form mr-sm-3 input " type="text" placeholder="¿Qué buscas?" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0 fa fa-search" type="submit">
                    
                </button>
            </form>

          </nav>
              <div class=" row p-2 ">
                <div class="row">
                   <div class="row row-cols-1 row-cols-md-3 g-4">
                
                <CarBox 
                  v-for="product in products"
                  v-bind:key="product.id"
                  v-bind:product="product" />
                </div>
                </div>
                <template v-if="products.length==0">
                    <h4>¡No hay resultados para tu busqueda!<br /><br />
                        Intenta con otro carro que te interese.
                    </h4>
                </template>
              </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import CarBox from '@/components/CarBox.vue'

export default {
    name: 'Search',
    components: {
        CarBox
    },
    data() {
        return {
            products: [],
            query: ''
        }
    },
    mounted() {
        document.title = 'Busqueda | Vozildo'

        let uri = window.location.search.substring(1)
        let params = new URLSearchParams(uri)

        if (params.get('query')) {
            this.query = params.get('query')

            this.performSearch()
        }
    },
    methods: {
        async performSearch() {
            this.$store.commit('setIsLoading', true)

            await axios
                .post('api-v1/cars/search/', {'query': this.query})
                .then(response => {
                    this.products = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            this.$store.commit('setIsLoading', false)
        }
    }
}
</script>
  