<template>
    <div class="page-success container">
        <div class="columns is-multiline">
            <div class="column is-12">
                <h1 class="title">¡¡Muchas gracias por tu compra!!</h1>

                <p class="">Tu orden será procesada y enviada muy pronto</p>
                <div class="py-4 bg-light" >
                    <div class="container">
                    <div class="row" >
                        <div class="text-center mx-auto col-md-12">
                        <h1 class="mb-3 text-center bg-primary text-light">Otro productos que te pueden interesar</h1>
                            <div class=" row p-3 ">
                                <div class="row">
                                
                                <ProductBox 
                                v-for="product in latestProducts"
                                v-bind:key="product.id"
                                v-bind:product="product" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import CarBox from '@/components/CarBox'
import axios from 'axios'
export default {
    name: 'Success',
     data: function(){
        return {
            latestProducts: []
        }
    },
        components: {
        ProductBox
    },
    mounted() {
        document.title = 'Gracias! | Vozildo',
        this.getLatestProducts()

    },

    methods: {
        async getLatestProducts() {
        this.$store.commit('setIsLoading', true)

        await axios
            .get('/tienda/home-products/')
            .then(response => {
            this.latestProducts = response.data
            })
            .catch(error => {
            console.log(error)
            })

        this.$store.commit('setIsLoading', false)
        }
    }
}

</script>