<template>
      <div class="col">
      <div class="card h-100">
        <template v-if="product.disponibilidad">
          <img
          v-bind:src="product.get_image"
          class="card-img-top"
          alt="..."
        />
        </template>
        <template v-else>
          <img
            v-bind:src="product.get_thumbnail"
            class="card-img-top"
            alt="..."
          />
        </template>
        <div class="card-body">
          <h6></h6>
          <h5 class="card-title">{{ product.nombre }}  {{ product.id }}</h5>
          <p class="text-center mb-0 ">${{ product.precio }} por día</p>

          <p class="card-text">
            {{ product.descripcion }}
          </p>
        </div>
          <p class="text-center mb-0 ">${{ product.precio }}</p>

        <button @click="setCar()" class="btn btn-success mb-0">Reservar</button>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name: 'CarBox',
    data() {
      return {
        slide: 0,
        sliding: null,
        products: []
      };
    },
    props: {
        product: Object
    },
    methods:{
      onSlideStart(slide) {
      this.sliding = true;
      },
      onSlideEnd(slide) {
        this.sliding = false;
      },
      setCar(){
        localStorage.setItem('car', this.product.id)
        localStorage.setItem('name_car', this.product.nombre)
        localStorage.setItem('car_slug', this.product.slug)


        this.$router.push('/reservar')
      }
    }
}
</script>

<style scoped>
  .image {
    margin-top: 1.25rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
  h3 {
    margin-left: 2.25rem;
  }
</style>