<template>
    <div id="app">
      <div >
      <b-navbar toggleable="lg" type="dark" variant="black" sticky="false">
        <a href="/">
          <img alt="logo" src="./assets/images/logo.png" width="220"/>
        </a>

        <b-navbar-nav class="ml-auto">
          <b-container class="bv-example-row">
            <b-row>
              <b-col></b-col> <b-col></b-col> <b-col></b-col><b-col></b-col>
              <b-col></b-col><b-col></b-col><b-col></b-col><b-col></b-col
              ><b-col></b-col><b-col></b-col><b-col></b-col><b-col></b-col
              ><b-col></b-col><b-col></b-col><b-col></b-col><b-col></b-col>
              <b-col>
                <p class="h4 mb-2">
                  <b-icon
                    icon="facebook"
                    animation=""
                    style="color: white"
                  ></b-icon>
                </p>
              </b-col>
              <b-col>
                <p class="h4 mb-2">
                  <b-icon
                    icon="twitter"
                    animation=""
                    style="color: white"
                  ></b-icon>
                </p>
              </b-col>
              <b-col>
                <p class="h4 mb-2">
                  <b-icon
                    icon="instagram"
                    animation=""
                    style="color: white"
                  ></b-icon>
                </p>
              </b-col>
              <b-col>
                <p class="h5 mb-2">
                  <b-icon
                    icon="linkedin"
                    animation=""
                    style="color: white"
                  ></b-icon>
                </p>
              </b-col>

              <b-col></b-col>
              <b-col>
                <b-nav-item> <router-link tag="li" to="/">Home</router-link></b-nav-item>
              </b-col>
              <b-col>
                <b-nav-item>
                  <router-link tag="li" to="/galeria">Galeria</router-link></b-nav-item
                >
              </b-col>
              <b-col>
                <b-nav-item-dropdown text="Nuestra Flota" right>
                  <b-dropdown-item href="#"><router-link tag="li" to="/carro">Carros</router-link></b-dropdown-item>
                  <b-dropdown-item href="#"><router-link tag="li" to="/camioneta">Camionetas</router-link></b-dropdown-item>
                </b-nav-item-dropdown>
              </b-col>
              <!-- Using 'button-content' slot -->
              <b-col>
                <b-nav-item-dropdown icon="user" text="👤" right>
                  <template v-if="$store.state.isAuthenticated">
                    <b-dropdown-item ><router-link tag="li" to="/cuenta">Mi Cuenta</router-link ></b-dropdown-item>
                  </template>
                  
                

              <template v-else>
                  <b-dropdown-item ><router-link tag="li" to="/registrar">Registrar</router-link ></b-dropdown-item>
                  <b-dropdown-item ><router-link tag="li" to="/logIn">Ingresar</router-link></b-dropdown-item>
              </template>
                </b-nav-item-dropdown>
              </b-col>
            </b-row>
          </b-container>
        </b-navbar-nav>
      </b-navbar>
      </div>
    <router-view />
      <div class="footer">
    <h2>¡Contáctenos! Cel: 3006549878 Email: vozidlo@alquilacarros.com </h2>
    </div>
  </div>
  
</template>


<style lang="scss">
@import 'node_modules/bootstrap/scss/bootstrap.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  background-color: #000000;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.footer{
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 20vh;
    min-height: 50px; 
    background-color: black;
    color: #E5E7E9;
    
  }
 
  .footer h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
